<!-- <div *ngFor = "let color of colors; first as f">
<h2> {{f}} {{color}}</h2>

</div>
<div>
  <h1>{{message}}</h1>
  <app-test (childEvent)="message=$event" [parentData]="name"></app-test>

</div> -->
<!-- <h2> {{ name }} </h2>
<h2> {{ name | lowercase }}</h2>
<H2> {{ name | uppercase }}</H2>
<h2> {{ message | titlecase }}</h2>
<h2> {{ name | slice:5:7 }} </h2>

<h2> {{ person | json }}</h2>

<h2> {{ 5.678 | number:'1.2-3' }}</h2>
<h2> {{ 5.678 | number:'3.4-5' }} </h2>
<h2> {{ 5.678 | number:'3.1-2' }}</h2>

<h2>{{ 0.25 | percent }}</h2>
<h2>{{ 0.25 | currency }}</h2>
<h2>{{ 0.25 | currency: 'EUR' }}</h2>
<h2>{{ 0.25 | currency: 'EUR': 'code' }} </h2>

<h2> {{ date }}</h2>
<h2> {{ date | date:'short' }}</h2>
<h2> {{ date | date:'shortDate' }}</h2>
<h2> {{ date | date:'shortTime' }}</h2> -->

<app-employee-list></app-employee-list>

<app-employee-detail></app-employee-detail>
